* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

.input-wrapper input {
  border: 1px solid #dbdbdb;
  padding: 10px 15px;
  border-radius: 5px;
  width: 100%;

}

.input-wrapper {
  margin-bottom: 10px;
}

.btn {
  padding: 8px 20px;
  background-color: #037bfe;
  color: #fff;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
}

/* them ban tay vao cai nao ta muon */
.cursor {
  cursor: pointer;
}

.content {
  word-break: break-all;
}

.header {
  height: 64px;
  background-color: #037bfe;
  line-height: 64px;
  text-align: center;
  color: #fff;
  font-size: 30px;
}