* {
    margin: 0;
    padding: 0;
}

h1 {
    width: 100%;
    height: 100px;
    background-color: brown;
    color: #fff;
}

h2{
    width: 100%;
    height: 100px;
    background-color: rgb(35, 197, 97);
    color: #fff; 
    
}
h3{
    width: 100%;
    height: 100px;
    background-color: rgb(26, 177, 214);
    color: #fff; 
}

h1,h2,h3{
    display: none;
}
/* Dành cho thiết bị di động */
@media only screen and (max-width:1000px) {
    h1 {
        color: red;
        background-color: black;
    }
    h2{
        display: block;
    }
}

/* Dành cho thiêt bị tablet */
@media only screen and (max-width:1000px) {
    h1 {
        color: red;
        background-color: black;
    }
    h2{
        display: block;
    }
}

/* Dành cho thiết bị: PC */
@media only screen and (max-width:1000px) {
    h1 {
        color: red;
        background-color: black;
    }
    h2{
        display: block;
    }
}